<ion-header>
    <ion-toolbar color="secondary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Honda Models</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
    <ion-slides>
        <ion-slide>
            <ion-card>
                <ion-card-header>
                    <ion-card-subtitle>Honda Accord</ion-card-subtitle>
                    <ion-card-title>2018</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                    <ion-img src="assets/honda/accord.jpg"></ion-img>
                    <p>The Honda Accord is a series of automobiles manufactured by Honda since 1976, best known for its four-door sedan variant, which has been one of the best-selling cars in the United States since 1989. The Accord nameplate has been applied to a variety of vehicles worldwide, including coupes, wagons, hatchbacks and a crossover.</p>
                    <ion-button>
                        <ion-icon name="information-circle"></ion-icon>
                        Read More
                    </ion-button>
                </ion-card-content>
            </ion-card>
        </ion-slide>
        <ion-slide>
            <ion-card>
                <ion-card-header>
                    <ion-card-subtitle>Honda Civic</ion-card-subtitle>
                    <ion-card-title>2018</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                    <ion-img src="assets/honda/civic.jpg"></ion-img>
                    <p>The Honda Civic is a line of cars manufactured by Honda. Originally a subcompact, the Civic has gone through several generational changes, becoming both larger and more upmarket and moving into the compact car segment. </p>
                    <ion-button>
                        <ion-icon name="information-circle"></ion-icon>
                        Read More
                    </ion-button>
                </ion-card-content>
            </ion-card>
        </ion-slide>
        <ion-slide>
            <ion-card>
                <ion-card-header>
                    <ion-card-subtitle>Honda CR-V</ion-card-subtitle>
                    <ion-card-title>2018</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                    <ion-img src="assets/honda/crv.jpg"></ion-img>
                    <p>The Honda CR-V is a compact crossover SUV manufactured by Honda since 1995 and introduced in the North American market in 1997. It uses the Honda Civic platform with an SUV body design. The CR-V is Honda's mid-range utility vehicle, slotting between the smaller Honda HR-V and the larger Honda Pilot. </p>
                    <ion-button>
                        <ion-icon name="information-circle"></ion-icon>
                        Read More
                    </ion-button>
                </ion-card-content>
            </ion-card>
        </ion-slide>
        <ion-slide>
            <ion-card>
                <ion-card-header>
                    <ion-card-subtitle>Honda Odyssey</ion-card-subtitle>
                    <ion-card-title>2018</ion-card-title>
                </ion-card-header>
            <ion-card-content>
                <ion-img src="assets/honda/odyssey.jpg"></ion-img>
                <p>The Honda Odyssey is a minivan manufactured by Japanese automaker Honda since 1994. The first generation Odyssey was marketed in Europe as the Honda Shuttle. The Odyssey was the first minivan to be produced in the United States and the first minivan to offer a V6 engine. </p>
                <ion-button>
                    <ion-icon name="information-circle"></ion-icon>
                    Read More
                </ion-button>
            </ion-card-content>
            </ion-card>
        </ion-slide>

    </ion-slides>
</ion-content>