:root {
	--ion-color-primary: #DC2F02;
	--ion-color-primary-rgb: 220,47,2;
	--ion-color-primary-contrast: #ffffff;
	--ion-color-primary-contrast-rgb: 255,255,255;
	--ion-color-primary-shade: #c22902;
	--ion-color-primary-tint: #e0441b;

	--ion-color-secondary: #FAA307;
	--ion-color-secondary-rgb: 250,163,7;
	--ion-color-secondary-contrast: #000000;
	--ion-color-secondary-contrast-rgb: 0,0,0;
	--ion-color-secondary-shade: #dc8f06;
	--ion-color-secondary-tint: #fbac20;

	--ion-color-tertiary: #FFBA08;
	--ion-color-tertiary-rgb: 255,186,8;
	--ion-color-tertiary-contrast: #000000;
	--ion-color-tertiary-contrast-rgb: 0,0,0;
	--ion-color-tertiary-shade: #e0a407;
	--ion-color-tertiary-tint: #ffc121;

	--ion-color-success: #E85D04;
	--ion-color-success-rgb: 232,93,4;
	--ion-color-success-contrast: #ffffff;
	--ion-color-success-contrast-rgb: 255,255,255;
	--ion-color-success-shade: #cc5204;
	--ion-color-success-tint: #ea6d1d;

	--ion-color-warning: #9D0208;
	--ion-color-warning-rgb: 157,2,8;
	--ion-color-warning-contrast: #ffffff;
	--ion-color-warning-contrast-rgb: 255,255,255;
	--ion-color-warning-shade: #8a0207;
	--ion-color-warning-tint: #a71b21;

	--ion-color-danger: #370617;
	--ion-color-danger-rgb: 55,6,23;
	--ion-color-danger-contrast: #ffffff;
	--ion-color-danger-contrast-rgb: 255,255,255;
	--ion-color-danger-shade: #300514;
	--ion-color-danger-tint: #4b1f2e;

	--ion-color-medium: #E85D04;
	--ion-color-medium-rgb: 232,93,4;
	--ion-color-medium-contrast: #ffffff;
	--ion-color-medium-contrast-rgb: 255,255,255;
	--ion-color-medium-shade: #cc5204;
	--ion-color-medium-tint: #ea6d1d;

	--ion-color-light: #FFBA08;
	--ion-color-light-rgb: 255,186,8;
	--ion-color-light-contrast: #000000;
	--ion-color-light-contrast-rgb: 0,0,0;
	--ion-color-light-shade: #e0a407;
	--ion-color-light-tint: #ffc121;

}