<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Volkswagen Models</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
    <ion-slides pager="true">
        <ion-slide>
            <ion-card>
                <ion-card-header>
                    <ion-card-subtitle>2018 Volkswagen Golf</ion-card-subtitle>
                    <ion-card-title>Volkswagen Golf</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                    <img src="assets/volkswagen/golf.jpg" />
                    <p>The Volkswagen Golf is a small family car produced by the German manufacturer Volkswagen since 1974, marketed worldwide across seven generations, in various body configurations and under various nameplates – such as the Volkswagen Rabbit in the United States and Canada (Mk1 and Mk5), and as the Volkswagen Caribe in Mexico (Mk1).</p>
                </ion-card-content>
            </ion-card>
        </ion-slide>
        <ion-slide>
            <ion-card>
                <ion-card-header>
                    <ion-card-subtitle>2018 Volkswagen Jetta</ion-card-subtitle>
                    <ion-card-title>Volkswagen Jetta</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                    <img src="assets/volkswagen/jetta.jpg" />
                    <p>The Volkswagen Jetta is a small family car manufactured and marketed by Volkswagen since 1979. Positioned to fill a sedan niche above the firm's Golf hatchback, it has been marketed over six generations, variously as the Atlantic, Fox, Vento, Bora, City Jetta, Jetta City, GLI, Jetta, Clasico, Voyage, and Sagitar (in China).</p>
                </ion-card-content>
            </ion-card>
        </ion-slide>
        <ion-slide>
            <ion-card>
                <ion-card-header>
                    <ion-card-subtitle>2018 Volkswagen Passat</ion-card-subtitle>
                    <ion-card-title>Volkswagen Passat</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                    <img src="assets/volkswagen/passat.jpg" />
                    <p>The Volkswagen Passat is a large family car manufactured and marketed by Volkswagen since 1973, and now in its eighth generation. It has been marketed variously as the Dasher, Santana, Quantum, Magotan, Corsar and Carat.The successive generations of the Passat carry the Volkswagen internal designations B1, B2, etc.</p>
                </ion-card-content>
            </ion-card>
        </ion-slide>
        <ion-slide>
            <ion-card>
                <ion-card-header>
                    <ion-card-subtitle>2018 Volkswagen Tiguan</ion-card-subtitle>
                    <ion-card-title>Volkswagen Tiguan</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                    <img src="assets/volkswagen/tiguan.jpg" />
                    <p>The Volkswagen Tiguan is a compact crossover SUV manufactured by German automaker Volkswagen. It is built on the Volkswagen Group's MQB platform. The Tiguan is the second model in Volkswagen's B-segment, after the Golf hatchback. The Tiguan was Volkswagen's best-selling model in the United States in 2010, 2011, 2012, 2013, 2014, 2015, and 2016.</p>
                </ion-card-content>
            </ion-card>
        </ion-slide>
    </ion-slides>
</ion-content>