<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Mercedes Models</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
    <!-- copy the page from honda -->
    <ion-slides pager="true">
        <ion-slide>
            <ion-card>
                <ion-card-header>
                    <ion-card-subtitle>2018 Mercedes-Benz C-Class</ion-card-subtitle>
                    <ion-card-title>Mercedes-Benz C300</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                    <img src="assets/mercedes/c300.jpg" />
                    <p>The Mercedes-Benz C-Class is a line of compact executive cars produced by Daimler AG.
                        Introduced in 1993 as a replacement for the 190 (W201) range, the C-Class was the smallest model in the marque's lineup until the A-Class arrived in 1997.</p>
                </ion-card-content>
            </ion-card>
        </ion-slide>
        <ion-slide>
            <ion-card>
                <ion-card-header>
                    <ion-card-subtitle>2018 Mercedes-Benz E-Class</ion-card-subtitle>
                    <ion-card-title>Mercedes-Benz E300</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                    <img src="assets/mercedes/e300.jpg" />
                    <p>The Mercedes-Benz E-Class is a range of executive cars manufactured by German automaker Mercedes-Benz in various engine and body configurations.
                        Produced since 1953, the E-Class falls midrange in the Mercedes line-up, and has been marketed worldwide across five generations.</p>
                </ion-card-content>
            </ion-card>
        </ion-slide>
        <ion-slide>
            <ion-card>
                <ion-card-header>
                    <ion-card-subtitle>2018 Mercedes-Benz S-Class</ion-card-subtitle>
                    <ion-card-title>Mercedes-Benz S550</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                    <img src="assets/mercedes/s550.jpg" />
                    <p>The Mercedes-Benz S-Class is a series
                        of full-size luxury flagship vehicles produced by the German automaker Mercedes-Benz, a division of German company Daimler AG.
                        The designation "S-Class" for top-of-the-line Mercedes-Benz models was officially introduced in 1972 with the W116, and has remained in use ever since.</p>
                </ion-card-content>
            </ion-card>
        </ion-slide>
        <ion-slide>
            <ion-card>
                <ion-card-header>
                    <ion-card-subtitle>2018 Mercedes-Benz G-Class</ion-card-subtitle>
                    <ion-card-title>Mercedes-Benz G550</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                    <img src="assets/mercedes/g550.jpg" />
                    <p>The Mercedes-Benz G-Class is a mid-size four-wheel drive luxury SUV manufactured by Magna Steyr (formerly Steyr-Daimler-Puch) in Austria and sold by Mercedes-Benz.
                        It was originally introduced in 1979 as a Gelandewagen (German for "cross-country vehicle"), and was marketed under the Mercedes-Benz Unimog name through 1991.
                        The G-Class is now in its fourth generation, with the initial models still in production.</p>
                </ion-card-content>
            </ion-card>
        </ion-slide>
    </ion-slides>
</ion-content>