<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>About</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <!-- create informations for team with pictures -->
    <ion-card>
        <ion-card-header>
            <ion-card-title>BSIT 3-</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <ion-card>
                <ion-card-header>
                    <ion-card-subtitle>Team Lead</ion-card-subtitle>
                    <ion-card-title>Chrisar Joshua D. Sanchez</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                    <ion-avatar>
                        <img src="assets/profile/cj.jpg" alt="John Doe">
                    </ion-avatar>
                    <p><i>"Life is like a bicycle, to maintain balance you must keep moving."</i></p>
                </ion-card-content>
            </ion-card>
            <ion-card>
                <ion-card-header>
                    <ion-card-subtitle>Software Developer</ion-card-subtitle>
                    <ion-card-title>Ceejay T. Codilla</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                    <ion-avatar>
                        <img src="assets/profile/cee.jpg" alt="Jane Doe">
                    </ion-avatar>
                    <p><i>"Work Harder To Achieve Your goals in Life"</i></p>
                </ion-card-content>
            </ion-card>
            <ion-card>
                <ion-card-header>
                    <ion-card-subtitle>Software Developer</ion-card-subtitle>
                    <ion-card-title>Fernando Jose Y. Rubin</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                    <ion-avatar>
                        <img src="assets/profile/jose.jpg" alt="John Smith">
                    </ion-avatar>
                    <p>
                        <i>
                            "Life is too short, do what makes you happy."
                        </i>
                    </p>
                </ion-card-content>
            </ion-card>
        </ion-card-content>
    </ion-card>
    <ion-card>
        <!-- create for app details -->
        <ion-card-header>
            <ion-card-title>Car List App</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <ion-card>
                <ion-card-header>
                    <ion-card-subtitle>Version</ion-card-subtitle>
                    <ion-card-title>1.0.0</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                    <p><i>"This is the first version of the app."</i></p>
                </ion-card-content>
            </ion-card>
            <ion-card>
                <ion-card-header>
                    <ion-card-subtitle>Release Date</ion-card-subtitle>
                    <ion-card-title>March 2020</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                    <p><i>"This app was released on March 2020."</i></p>
                </ion-card-content>
            </ion-card>
            <ion-card>
                <ion-card-header>
                    <ion-card-subtitle>Developer</ion-card-subtitle>
                    <ion-card-title>BSIT 3-1</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                    <p><i>"This app was developed by BSIT 3-1."</i></p>
                </ion-card-content>
                </ion-card>
                </ion-card-content>
    </ion-card>
</ion-content>