<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Audi</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
    <ion-slides [pager]="true">
        <ion-slide>
            <ion-card>
                <ion-card-header>
                    <ion-card-subtitle>2018 Audi A3</ion-card-subtitle>
                    <ion-card-title>Audi A3</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                    <img src="assets/audi/a3.jpg" />
                    <p>The Audi A3 is a small family/subcompact executive car manufactured and marketed since 1996 by the Audi subdivision of the Volkswagen Group, now in its third generation.
                    The first two generations of A3 were based on the Volkswagen Group A platform, which they share with the Audi TT, Volkswagen Golf, Volkswagen Caddy, and Volkswagen Touran, as well as the Volkswagen Polo Mk5.
                    </p>
                </ion-card-content>
            </ion-card>
        </ion-slide>
        <ion-slide>
            <ion-card>
                <ion-card-header>
                    <ion-card-subtitle>2018 Audi A4</ion-card-subtitle>
                    <ion-card-title>Audi A4</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                    <img src="assets/audi/a4.jpg" />
                    <p>The Audi A4 is a line of compact executive cars produced since 1994 by the German car manufacturer Audi, a subsidiary of the Volkswagen Group.
                    The A4 has been built in five generations and is based on the Volkswagen Group B platform.
                    </p>
                </ion-card-content>
            </ion-card>
        </ion-slide>
        <ion-slide>
            <ion-card>
                <ion-card-header>
                    <ion-card-subtitle>2018 Audi A6</ion-card-subtitle>
                    <ion-card-title>Audi A6</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                    <img src="assets/audi/a6.jpg" />
                    <p>The Audi A6 is an executive car made by the German automaker Audi, now in its fifth generation.
                    As the successor to the Audi 100, the A6 is manufactured in Neckarsulm, Germany, and is available in sedan and wagon configurations, the latter marketed by Audi as the Avant.
                    </p>
                </ion-card-content>
            </ion-card>
        </ion-slide>
        <ion-slide>
            <ion-card>
                <ion-card-header>
                    <ion-card-subtitle>2018 Audi A8</ion-card-subtitle>
                    <ion-card-title>Audi A8</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                    <img src="assets/audi/a8.jpg" />
                    <p>The Audi A8 is a four-door, full-size, luxury sedan manufactured and marketed by the German automaker Audi since 1994.
                    Succeeding the Audi V8, and now in its fourth generation, the A8 has been offered with both front-or permanent all-wheel drive—and in short- and long-wheelbase variants.
                    The first two generations employed the Volkswagen Group D platform, with the current generation deriving from the MLB platform.
                    </p>
                </ion-card-content>
            </ion-card>
        </ion-slide>
    </ion-slides>
</ion-content>