<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>BMW Models</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
    <ion-slides [pager]="true">
        <ion-slide>
            <ion-card>
                <ion-card-header>
                    <ion-card-subtitle>2018 BMW 3 Series</ion-card-subtitle>
                    <ion-card-title>BMW 330i</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                    <img src="assets/bmw/330i.jpg" />
                    <p>BMW's 3 Series is a compact executive car manufactured by BMW since 1975.</p>
                </ion-card-content>
            </ion-card>
        </ion-slide>
        <ion-slide>
            <ion-card>
                <ion-card-header>
                    <ion-card-subtitle>2018 BMW 5 Series</ion-card-subtitle>
                    <ion-card-title>BMW 530i</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                    <img src="assets/bmw/530i.jpg" />
                    <p>The BMW 5 Series is an executive car manufactured by the German automaker BMW since 1972.</p>
                </ion-card-content>
            </ion-card>
        </ion-slide>
        <ion-slide>
            <ion-card>
                <ion-card-header>
                    <ion-card-subtitle>2018 BMW 7 Series</ion-card-subtitle>
                    <ion-card-title>BMW 740i</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                    <img src="assets/bmw/740i.jpg" />
                    <p>The BMW 7 Series is a full-size luxury sedan produced by the German automaker BMW since 1977.</p>
                </ion-card-content>
            </ion-card>
        </ion-slide>
    </ion-slides>
</ion-content>